.rightSearchBox{
    padding: 20px 20px!important;
    margin-bottom: 100px;

}

.rightSearchBox h4{
    font-size: 30px;
    margin-bottom: 5px!important;
}
.rightSearchBox .hr-dashed{
    margin-bottom: 5px;
}
.rightSearchBox .btn_serach{
    float: left;
    font-size: 22px;
    font-weight: normal!important;
    margin-bottom: 20px;
    margin-top: 20px!important;
    color: rgba(255,255,255,1)!important;
}


.rightSearchBox .btn_serach i{

    font-size: 15px;
    margin-left: 5px;


}
.rightSearchBox .SearchSelect{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    cursor: pointer;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rightSearchBox label{
    color: var(--h1Color);
    font-weight: normal!important;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.rightSearchBox .SearchSelect{
    color:grey;
    font-size: 17px;
    margin-bottom: 5px;
}





.SearchSelect option  {
    cursor: pointer;
    font-family: Tahoma!important;
    font-size:14px;
}


.home_search .homeSelect{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: .25rem;
    cursor: pointer;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
    opacity: 0.5;



}

.property-search__select {
    border: 1px solid hsl(var(--neutral-40));
    background-color: hsl(var(--primary-300)/0.03);

}

.property-search__select i {
    font-size: 15px;
    color: rgba(0,0,0,.9);
    opacity: 0.5;
}

.property-search__select .homeSelect {
    min-width: 150px;
    max-width: 150px;
    padding-block: 0.5rem;
    /*background-color: transparent;*/
    border: none;
    cursor: pointer;
    color: rgba(0,0,0,.9);
}


.property-search__select .homeSelect option {
    padding-block: 0.5rem;
    margin: 40px;
    background-color: #ffffff!important;
    position: absolute!important;
    width: 300%!important;
    right: 1px!important;


}




.property-search__select .homeSelect:focus {
    box-shadow: none;
}

.property-search__col_50{
    width: 50%!important;
}

@media (max-width: 600px) {
    .property-search__select .homeSelect {
        min-width: 95%;
        max-width: 95%;
        padding-block: 0.5rem;
        border: none;
        cursor: pointer;
        color: rgba(0,0,0,.9);
    }
}



